@media screen and (max-width: 1024px)
    .main
        padding: 51px 68px

    .main-inner
        max-width: 100%
        min-height: 100%
        
    .main-title
        margin-top: 65px

    .section-inner
        gap: 15px

    .section-img-overlay
        width: 200px
        height: 200px

// Адаптив по макету
@media screen and (max-width: 900px)
    .main-adaptive-photo
        display: block
        max-width: 100%
        max-height: 100%

    .main-photo
        display: none

    .section-title
        margin-top: 53px

    .section-img-overlay
        width: 180px
        height: 180px

    .section-inner
        gap: 13px

@media screen and (max-width: 769px)
    .main
        padding: 51px 30px

@media screen and (max-width: 426px)
    .main
        padding: 51px 17px

@media screen and (max-width: 376px)
    .main-mobile-photo
        display: block
        max-height: 100%
        max-width: 100%

    .main-adaptive-photo
        display: none

    #contact-me
        width: 100%
    
    .section-inner
        gap: 10px

    .section-img-overlay
        width: 165px
        height: 165px

@media screen and (max-width: 320px)
    .section-img-overlay
        width: 138px
        height: 138px

    .footer-inner
        padding-left: 26px